
.logo-body {
  margin: 0;
  padding: 25px;
  font-family: $font-logo;
  font-size: 50px;
  color: black;
  text-align: center;
}

.slogan {
  font-family: $font-body;
  font-weight: bold;
}

body {
  background: snow;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}
