.search-container {
  text-align: center;
}

.mentors {
  text-align: center;
}

.mentors-card {
    background: #F9DB6D;
    margin: 10px auto;
    height: 323px;
    width: 239px;
    border: 5px solid black;
    border-radius: 20px;
    display: inline-block;
    li {
     list-style: none;
     text-align: center;
    }
}


