<div class="container">
  <h2 class="sign">Minhas habilidades</h2>

  <%= render "skills/form"  %>

  <div class="container container-skills">
    <ul class="skill-bold">
      <% current_user.skills.each do |skill| %>
              <li><%= skill.language %>
                  <%= button_to "Excluir skill", skill_path(skill), method: :delete, class: "btn-default-delete" %>
              </li>
      <% end %>
    </ul>

  </div>

  <%= link_to "Voltar", profile_path, class: "btn-default" %>

</div>
