<h2>Minhas Skills</h2>

<%= render "skills/form"  %>

<div class="container container-skills">
  <ul>
    <% current_user.skills.each do |skill| %>
            <li><%= skill.language %>
                <%= button_to "Excluir skill", skill_path(skill), method: :delete, class: "btn-default-big" %>
            </li>
    <% end %>
   </ul>

</div>

<%= link_to "Voltar", profile_path, class: "btn-default btn-skills" %>
