<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-icons">
          <a href="https://github.com/tainanbogo"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/tainanbogo/"><i class="fab fa-linkedin"></i></a>
          <p class="p-footer">Tainan Bogo</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-icons">
          <a href="https://github.com/annecaroline93"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/anne-caroline-deegan/"><i class="fab fa-linkedin"></i></a>
          <p class="p-footer">Anne Deegan</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-icons">
          <a href="https://github.com/MarceloSFilho"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/marcelomanoelf/"><i class="fab fa-linkedin"></i></a>
          <p class="p-footer">Marcelo Manoel</p>
        </div>
      </div>
    </div>
  </div>
</div>
