<div class="container">
  <h1 class="logo-body">girls.match()</h1>
    <div class="card-infos-home">
      <p>
        Mussum Ipsum, cacilds vidis litro abertis. Quem manda na minha terra sou euzis!
      </p>
    </div>
    <div class="card-view">
      <div class="card-img"></div>
      <div class="card-infos"></div>
    </div>
  </div>
</div>
