<div class="container">
  <h1 class="logo-body">girls.match()</h1>
    <div class="card-infos-home">
      <p>
        O match certo para uma carreira de sucesso!
      </p>
    </div>
    <div class="card-view">
      <div class="card-img"></div>
      <div class="card-infos"></div>
    </div>
  </div>
</div>
